@{
    ViewBag.Title = "Паттерны";
}
<m-article v-if="article" :art="article"></m-article>
<v-sec>
    <m-content>
        <h1 class="patterns-previev" v-on:animationend="showInfo = true">Паттерны</h1>
        <div class="pattern-categories">
            <category :name="category.cat_name" :description="category.cat_description" :article="category.article" v-for="category in categories"></category>
        </div>
        <div v-if="showInfo">{{info}}</div>
    </m-content>
</v-sec>

@section styles{
    @Styles.Render("~/Content/patterns")
}

@section scripts{
    @Scripts.Render("~/bundles/patterns")
}