<section>
    <h1>Описание сайта</h1>
    <h2></h2>
</section>
<section>
    <h1>Футер</h1>
</section>

@section styles{
    @Styles.Render("~/Content/home")
}

@section scripts{
    @Scripts.Render("~/bundles/home")
}