section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 50px 8vw;
    box-sizing: border-box;
    background: #f0f8ff;
}

h1 {
    font-size: 60px;
    margin: 0;
    text-align: center;
}

h2 {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

.parallax {
    height: 60vh;
    overflow: hidden;
}

.p-active {
    position: relative;
}

.p-active > img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1
}

.p-active > img:first-child {
    filter: blur(2px);
}

.p-active > img:last-child{
 
}

.p-passive {
    line-height: 60vh;
    background: rgba(0, 14, 59, 0.35);
    color: #e8f4ff;
    text-align:center;
    font-size:100px;
}