@font-face {
    font-family: 'As-Nova Regular';
    src: url(../fonts/12136.ttf) format('truetype');
}

@font-face {
    font-family: 'Sirona';
    src: url(../fonts/10755.otf) format('opentype');
}

@font-face {
    font-family: 'Marta';
    src: url(../fonts/Marta.otf) format('opentype');
}

@font-face {
    font-family: 'PF Centro Slab Pro Regular';
    src: url('../fonts/PF Centro Slab Pro.ttf') format('truetype');
}

@font-face {
    font-family: 'Courier10 Cyr BT Bold Italic';
    src: url('../fonts/Courier10 Cyr BT.ttf') format('truetype');
}

body {
    padding: 0;
    margin: 0;
    color: darkslategray;
    background: rgb(158, 245, 240);
    font-family: PF Centro Slab Pro Regular;
}

h1,h2,h3,h4,h5{
    padding:20px;
    font-family: As-Nova Regular;
}

/* double-parallax */
.parallax {
    height: 60vh;
    overflow: hidden;
}

.p-active {
    position: relative;
}

    .p-active > div {
        background:white;
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        background-size: cover;
        background-position: center;
    }

        .p-active > div:first-child {
            filter: blur(2px);
        }

        .p-active > div:last-child {
        }

.p-passive {
    height:100%;
    background: rgba(0, 14, 59, 0.35);
    color: #e8f4ff;
    text-align: center;
    font-size: 100px;
    font-family: As-Nova Regular;
}

/* section */
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background: #f0f8ff;
}

.content {
    position:relative;
    padding: 50px 8vw;
    font-size:20px;
}

.code {
    padding-left:50px;
    border: 1px solid green;
    font-size: 16px;
    max-height:500px;
    overflow:auto;
}
    h1 {
        font-size: 60px;
        margin: 0;
        text-align: center;
    }

h2 {
    font-weight: 400;
}

a {
    color: inherit;
    font-weight:800;
}

a:hover{
    color:rgb(74, 176, 190);
}

    a.detailed {
        text-decoration:none;
        position: absolute;
        padding: 15px;
        bottom: 10px;
        left: 8vw;
        background: rgb(63, 150, 142);
    }

    a.detailed:hover{
        color:white;
    }


/* article */
.article{
    position:absolute;
    width:100%;
    min-height: 100vh;
    z-index:999;
}

.close {
    position: fixed;
    right: 0px;
    font-size: 40px;
    padding: 10px;
    z-index: 999;
    cursor: pointer;
    transition: all .1s linear;
    opacity: 0.5;
}

.close:hover{
    opacity:1;
}