@font-face {
    font-family: 'As-Nova Regular';
    src: url(../fonts/12136.ttf) format('truetype');
}

@font-face {
    font-family: 'Sirona';
    src: url(../fonts/10755.otf) format('opentype');
}

@font-face {
    font-family: 'Marta';
    src: url(../fonts/Marta.otf) format('opentype');
}

@font-face {
    font-family: 'PF Centro Slab Pro Regular';
    src: url('../fonts/PF Centro Slab Pro.ttf') format('truetype');
}

@font-face {
    font-family: 'Courier10 Cyr BT Bold Italic';
    src: url('../fonts/Courier10 Cyr BT.ttf') format('truetype');
}

body {
    padding: 0;
    margin: 0;
    color: darkslategray;
    background: rgb(158, 245, 240);
    font-family: PF Centro Slab Pro Regular;
}

h1,h2,h3,h4,h5{
    padding:20px;
    font-family: As-Nova Regular;
}

/* double-parallax */
.parallax {
    height: 60vh;
    overflow: hidden;
}

.p-active {
    position: relative;
}

    .p-active > div {
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        background-size: cover;
        background-position: center;
    }

        .p-active > div:first-child {
            filter: blur(2px);
        }

        .p-active > div:last-child {
        }

.p-passive {
    line-height: 60vh;
    background: rgba(0, 14, 59, 0.35);
    color: #e8f4ff;
    text-align: center;
    font-size: 100px;
    font-family: As-Nova Regular;
}

/* section */
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background: #f0f8ff;
}

.content {
    position:relative;
    padding: 50px 8vw;
    font-size:20px;
}

.code {
    border: 2px solid green;
    box-shadow: inset 2px 2px 5px 5px rgba(0, 0, 0, 0.3);
    font-size: 16px;
}

h1 {
    font-size: 60px;
    margin: 0;
    text-align: center;
}

h2 {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover{
    color:green;
}

    a.detailed {
        position: absolute;
        padding: 15px;
        bottom: 10px;
        left: 8vw;
        background: rgb(63, 150, 142);
    }


/* article */
.article{
    position:absolute;
    width:100vw;
    min-height: 100vh;
    z-index:999;
}

.close{
    position:fixed;
    right:0px;
    font-size:40px;
    padding:10px;
    color:rgb(255, 70, 70);
    background:rgba(255, 0, 0, 0.2);
    z-index:999;
    cursor:pointer;
    transition:all .1s linear;
}

    .close:hover {
        background: rgba(255, 0, 0, 0);
    }